.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

html, body{
overflow-x: hidden;
}

#main{
padding-top: 50px;
}

#home{
  background-color: #1e1e1e !important;
  position: relative;
  display: table;
  width: 100%;
}

#aboutme{
  position: relative;
  display: table;
  width: 100%;
  background-color: #f27537 !important;

}
#home canvas, #dialogproject canvas{
  position: absolute;
  width: 100%;
  height: 100%;
}

#experience{
  background-color: #d82546 !important;

}

#projects{
  background-color: #273c67 !important;
}

#education{
  background-color:  #baba32 !important;
}

#contact {
background-color: #f27537 !important;

}

#footer{
background-color:  #1e1e1e !important;
}


.vertical-timeline-element-date{
  color: #273c67 !important;
  font-weight: 'bold';
  padding: 3px 60px !important;
}
